body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

/* Header */
header {
    background: #8e44ad;
    color: white;
    padding: 15px;
    text-align: center;
}

/* Nav */
nav {
    background: #9b59b6;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: pink;
}

/* Main */
main {
    padding: 20px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #8e44ad;
    color: white;
}

/* Form */
form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

/* Button */
button {
    background: #8e44ad;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #732d91;
}

/* Footer */
footer {
    background: #8e44ad;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    nav a {
        display: block;
        margin: 10px 0;
    }

    form {
        width: 90%;
    }

    table {
        font-size: 14px;
    }
}